/* Copyright 2006 Joost de Valk */
a img {
	border: 0;
}
table.alternate_rows {
	border-spacing: 0;
	border-style: solid;
	border-color: #aaa;
	border-width: 1px;
	width: 100%;
	margin: 0 auto;
}
table.alternate_rows th, table.alternate_rows td {
	text-align: left;
	border-style: solid;
	border-color: #aaa;
}
table.alternate_rows th {
	border-width: 1px 0px 1px 0px;
	background-color: #ccc;
}
table.alternate_rows th a {
	text-decoration: none;
	color: #000;
}
table.alternate_rows td {
	border-width: 0px;
}
table.alternate_rows tr.odd td {
	background-color: #fff;
}
table.alternate_rows tr.even td {
	background-color: #ddd;
}
